
.container-botones{
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-end;
    text-align: end;
}
.cards {
    display: flex; 
}
.card{
    display: flex;
}
.cards img{
    width: 80%;
}


@media(min-width:768px){
    .container-botones{
        display: flex;
        justify-content:space-around ;
        align-items: flex-end;
}

@media(min-width:1024px){

}
}