/* FORMULARIO DE CARGA */
.form-carga {
    text-align: center;
  
  }
  
  .form-carga form>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px auto;
    font-size: 15px;
  }
  
  .form-carga h1 {
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 4px solid #744BFF;
  }
  
  .form-carga form select {
    margin: 20px 0;
    font-size: 15px;
    outline: none;
  }
  
  .form-carga form .select-category select option {
    background-color: #a387fe81;
  }
  
  .form-carga form .cargar-imagen input {
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  
  .form-carga form button {
    font-size: 15px;
  }
  
  /* BOxImagenes */
  .boxContainer {
    border: thin solid black;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #cdd0cb;
    border-radius: 40px;
  
  }
  
  select {
    cursor: pointer; /*Manito de clic*/
    background-color: #DDDDDD;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    border: solid 1px black;
    padding: 0 15px;
  }
  
  .disFle {
    display: flex;
  }
  
  * {
    outline: none !important;
  }
  
  .boxContainer input[type="number"] {
    width: 60px;
    padding-left: 10px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #DDDDDD;
    
  }
  
  
  .boxContainer textarea {
    width: 100%;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 2px;
    background-color: #DDDDDD;
    display: block;
    width: 100%;
   /* height: 45px;*/
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 8px;
    border: solid 1px
  }
  
  .boxContainer input[type="text"] {
    margin-bottom: 20px;
    width: 100%;
    background-color: #DDDDDD;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    border: solid 1px black;
    padding: 0 15px;
  }
  
  .boxContainer h4 {
    margin-bottom: 20px;
    color: black;
  }
  
  .stock {
    color: black;
  }

  /* BODY */

body.cart {
    background-color: #DDDDDD;
  }
  
  .dispFl {
    display: flex;
    margin-top: 10px;
  }
  
  
  .btn-primary {
    color: #000000;
    background-color: #dddddd;
    border-color: #000000;
  }
  
  .agregar {
    margin: 0px auto;
    padding: 10px 30px;
    text-align: center;
    border: none;
    background-color: #30475e;
    border-radius: 9px;
    width: 70%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  #category {

    background-color: #DDDDDD;
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    border: solid 1px black;
    padding: 0 15px;
  }
  
  .agregarF {
    margin: 0px auto;
    padding: 12px 31px;
    text-align: center;
    border: none;
    background-color: #30475e;
    border-radius: 9px;
    margin-top: 27px;
    width: 62%;
    color: white;
  }
  
  
  /* IMAGENES PEQUEÑAS */ 
  
    .img2 {
  padding-left: 30px;
  }
  
  .img3 {
    padding-left: 30px;
  }
  
  .img4 {
    padding-left: 30px;
  }


  .products-title {
    font-size: 2em;
    font-weight: 400;
    color: gray;
    margin: 37px 0px 0px 110px;
  
  }
  