/*HEADER*/
header .header-container {
    max-width: 1140px;
  
  }
  
  .bg-light {
    background-image: linear-gradient(to bottom right, #222831, #30475e);
    padding-bottom: 20px;
  
  }

  .box-logo {
    text-align: center;
  }
  
  .logo {
    vertical-align: middle;
    width: 59%;
    margin-top: 14px;
  }
  
  
  header .row {
    background-image: linear-gradient(to bottom right, #222831, #30475e);
    padding-bottom: 10px;
  }
  
  .form-control {
    padding: 0.375rem 15.75rem;
    padding: 0.375rem 15.75rem;
    border-radius: 28px;
    font-size: small;
  }
  
  header form {
    background-color: #fff;
    border: 1px solid var(--color-grisClaro);
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    width: 90%;
  }
  header form input {
    background-color: none;
    border: none;
    border-right: 2px solid #30475e;
    padding: 0px 10px;
    width: 50%;
    flex-grow: 1;
  }
  header form button {
    background: none;
    border: none;
    color: #30475e;
    margin: 0 8px;
  }
  
  .botones-nav {
    display: flex;
    justify-content:space-around ;
    align-items: center;
  }
  
  .form-nav  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  @media(min-width:768px){
   
  }

  @media(min-width:1024px){

  }
  