
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

.home.carrousel {
  display: none;
}

 

.carrousel-item img{
    height: 200px;
}
.card{
    margin: 20px 0;
    
}

.card img{
    width: 90%;
    margin: 0 auto;
}

.mb-5 {
    padding: 0px;
}

h5 {
    display: inline-block;
    padding: 10px;
    background: #30475e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
  }
  
  .p {
    text-align: center;
    padding-top: 40px;
    font-size: 13px;
  }


  /* PRODUCTOS */
.productos h2 {
    font-size: 24px;
    color: #666666;
    margin: 30px 0;
  }
  .productos .contenido {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform .5s ease, box-shadow .5s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .productos .contenido:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .productos img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .productos .datos {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    border-top: 1px solid  #30475e;
    padding: 20px;
    position: relative;
    color: gray; 
  }
  .productos .datos h3 {
    margin-bottom: 0;
  }
  .productos .datos span {
    color: var(--color-verde);
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .productos .datos p {
    margin-top: 10px;
  }
  .productos .datos i {
    color: #30475e;
    background-color: rgb(255, 255, 255);
    border:  #30475e 1px solid ;
    border-radius: 50%;
    padding: 8px;
    font-size: 2rem;
    position: absolute;
    top: -26px;
    right: 20px;
  }

  /* CATEGORIAS */

  .categoriaTitulo {
    font-size: 24px;
    color: #666666;
    margin: 30px 0;
  }

  .cate {
    margin-bottom: 25px;
  }

#categorias {
  margin-bottom: 22px;
  margin-top: 10px;

}

.caja1 {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  color: black;
  width: 270px;
  margin: 0 auto;
  border-radius: 20px;
}


.caja1:hover{
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.categorias1 {
  margin-bottom: 10px;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.back1 {
  background-image: url(../images/ARDUINO_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
}


h3.titleBack {
  height: 270px;
  line-height: 270px;
  text-align: center;
  color: white;
  
}

.back2 {
  background-image: url(../images/ARDUINO_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
}

.back3 {
  background-image: url(../images/ARDUINO_03.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
}
.back4 {
  background-image: url(../images/ARDUINO_04.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
}

.back5 {
  background-image: url(../images/ARDUINO_05.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
}

.back6 {
  background-image: url(../images/ARDUINO_06.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
}

.back7 {
  background-image: url(../images/ARDUINO_07.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
}

.back8 {
  background-image: url(../images/ARDUINO_08.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  color: white;
  margin-bottom: 4px;
  
}



/* RESPONSIVE */


/* @media(max-width: 460px){
  .carousel {
    display: none;
}
} */
