@import 'general.css';

@import 'footer.css'; 
 
@import 'header.css';

@import 'formCarga.css';

@import 'iniciar.css';

@import 'home.css';

@import 'shipping.css';

@import 'cart.css';

@import 'productDetails.css';

@import 'registro.css'; 

/* Carrito  header y footer montserrat  body*/



/*RESPONSIVE */


@media (max-width: 460px) {
  #logoA {
      text-align: center;
      margin-top: 13px;
  }

  .logo {
      vertical-align: middle;
      width: 70%;
      margin-top: 14px;
  }

  #form {
      margin-top: 19px;
  }

  .boxContainer {
      border-radius: 0%;
  }

  #agregarFoto {
      text-align: center;
  }

  .boxContainer h4 {
  margin-bottom: 36px;
  color: black;
  margin-top: 14px;
  text-align: center;
  }

  .disFle {
      margin-bottom: 8px;
  }

  #precioFinal {
      margin-top: 10px;
  }

  #botones {
      text-align: center;
  }

  .cancelar {
      margin-top: 15px;
  }
}



