@import 'general.css';

@import 'footer.css'; 
 
@import 'header.css';

@import 'formCarga.css';

@import 'iniciar.css';

/* Carrito  header y footer montserrat  body*/

/* botones */
div.container-botones{
  display: flex;
  align-items: left;
  padding-left: 5%;
}.mas-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Mas Productos */



/* envio */

body section.recibir{
padding: 0px 12px;
}

/* body.recibir{

} */

section.recibir iframe{
  width: 80%;
  height: 80%;
}


/*RESPONSIVE */


@media (max-width: 460px) {
  #logoA {
      text-align: center;
      margin-top: 13px;
  }

  .logo {
      vertical-align: middle;
      width: 70%;
      margin-top: 14px;
  }

  #form {
      margin-top: 19px;
  }

  .boxContainer {
      border-radius: 0%;
  }

  #agregarFoto {
      text-align: center;
  }

  .boxContainer h4 {
  margin-bottom: 36px;
  color: black;
  margin-top: 14px;
  text-align: center;
  }

  .disFle {
      margin-bottom: 8px;
  }

  #precioFinal {
      margin-top: 10px;
  }

  #botones {
      text-align: center;
  }

  .cancelar {
      margin-top: 15px;
  }
}



