<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Pago</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/formularioPago.css">
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <a href="#" class="logoA">
                        <img class="logo" src="img/Logo_.png" alt="">
                      </a>
                </div>
                    <div class="col-md-6">
                        <form action="">
                            <input type="text" placeholder="Buscar productos, marcas y más">
                            <button type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                          </form>
                    </div>

                    <div class="col-md-3">
                        <ul class="botones-nav">
                            <li><a class="btn btn-primary bot1 " href="#" role="button">Carrito <i class="fas fa-cart-plus "></i></a></li>
                            
                          </ul>
                        </div>
                    </div>
                 </nav>
                </header>
    <section class="hola">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="titulo">SELECCIONE EL METODO DE PAGO</h3>
            </div>
            </div>
            
                    <div class="row">
            <div class="col-md-12" id="opciones">
                <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1"> Tarjeta de Credito</label>
                        </div>
                 <select class="form-select" aria-label="Default select example">
                        <option selected disabled>Seleccionar Tarjeta</option>
                        <option value="1">Visa</option>
                        <option value="2">MasterCard</option>
                        <option value="3">American Express</option>
                        </select>
                    </div>
            </div>
                
                        <div class="row">
                            <div class="col-md-12" id="opciones">
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1"> Tarjeta de Debito</label>
                        </div>
                <select class="form-select" aria-label="Default select example">
                        <option selected disabled>Entidad Bancaria</option>
                        <option value="1">Visa</option>
                        <option value="2">MasterCard</option>
                        <option value="3">American Express</option>
                        </select>
                </div>
                        </div>
                 
                     
            <div class="row">
                 <div class="col-md-12" id="opciones">
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1"> Por Ventanilla </label>
                        </div>
         <select class="form-select" aria-label="Default select example">
                        <option selected disabled>Canal de Cobranza</option>
                        <option value="1">RapiPago</option>
                        <option value="2">PagoFacil</option>
                        </select>
                        </div>
                </div>
            
                
                        
                    <div class="row">
                      <div class="col-md-12" id="opciones">
                <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1"> Efectivo en Entraga</label>
                        </div>
                          <select class="form-select" aria-label="Default select example">
                        <option selected disabled>Punto de Encuentro/Local</option>
                        <option value="1">Local</option>
                        <option value="2">Obelisco</option>
                        </select>
                </div>
                </div>
                    
                    <div class="row">
                    <div class= "col-md-12">
                        
                         <button type="submit" class="continuar"> CONTINUAR </button>
                        </div>
            </div>
        </div>
    </section>
    
    <sectio>
        <div class="container"> 
            <div class="col-md-12">
                <img src="images/Payment%20Information-pana.png" id="derecha">
            </div>
        </div>
    </sectio>
    


      

    


    <!-- <footer>
        <div>
            Footer
        </div>
    </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>

</html>