<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
   <%- include('partials/header') %>  
   <div>
       <h1></h1>
       <section>
           
       </section>
   </div>
</body>
<footer>
    <%- include('partials/footer') %> 
</footer>
</html>