<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Registro</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Registrarse con Facebook</button>
        <button class="btn btn-info" type="button">Registrarse con Twitter</button>
        <button class="btn btn-danger" type="button">Registrarse con Google</button>
        <br>
        <h5>¿ya tienes una cuenta? <a href="">Inicia sesion</a></h5>
      </div>

      <h6>_____________________________OR__________________________________________</h6>


      <div class="container" >8
        <p>Nombre: <input type="text" name="password" minlength="6"></p>
        <br>
        <p>Apellido: <input type="text" name="password" minlength="6"></p>
        <br>
        <p>Usuario: <input type="text" name="password" minlength="6"></p>
        <br>
        <p>E-mail: <input type="mail" name="password" minlength="6"></p>
        <br>
        <p>Contraseña: <input type="password" name="password" minlength="6"></p>
        <br>
        <p>Repetir contraseña: <input type="password" name="password" minlength="6"></p>
        <br>
        <p>Fecha de nacimiento: <input type="date" name="fechaesperada"></p>
        <br>
        <p>Sexo:
            <input type="radio" name="hm" value="h" required> Hombre
            <input type="radio" name="hm" value="m"> Mujer
          </p>
        <br>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Registrarse</button>
            <button class="btn btn-light" type="button">Cancelar</button>
          </div>
      </div>

</body>
</html>