<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
    <title>Registrate</title>
</head>
<body>

  <%- include('partials/header') %>

    <h2>Registro</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Registrarse con Facebook</button>
        <button class="btn btn-info" type="button">Registrarse con Twitter</button>
        <button class="btn btn-danger" type="button">Registrarse con Google</button>
        <br>
        <h5>¿ya tienes una cuenta? <a href="">Inicia sesion</a></h5>
      </div>

      <h6>_____________________________OR__________________________________________</h6>


      <div class="container" >
        <p>Nombre: <input type="text" name="first_name" minlength="6"></p>
        <br>
        <p>Apellido: <input type="text" name="last_name" minlength="6"></p>
        <br>
        <p>Usuario: <input type="text" name="username" minlength="6"></p>
        <br>
        <p>E-mail: <input type="mail" name="mail" minlength="6"></p>
        <br>
        <p>Contraseña: <input type="password" name="password" minlength="6"></p>
        <br>
        <p>Repetir contraseña: <input type="password" name="password" minlength="6"></p>
        <br>
        <p>Fecha de nacimiento: <input type="date" name="bornDate"></p>
        <br>
        <p>Sexo:
            <input type="radio" name="gender" value="male" required> Hombre
            <input type="radio" name="gender" value="female"> Mujer
          </p>
        <br>
        <p>Imagen de perfil<input type="file" placeholder="selecciona tu foto de perfil" name="avatar"></p> 
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Registrarse</button>
            <button class="btn btn-light" type="button">Cancelar</button>
          </div>
      </div>

      <%- include('partials/footer') %>
</body>
</html>