<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="about">	
                          <h2>Nøsotros</h2>
            <p> Somos una empresa con más de 21 años de trayectoria, llevando novedades tecnølógicas a todos los hogares del país. <strong>Contamos con un equipo de trabajo profesional </strong> que hace posible el desarrollo continuo y sostenido de la empresa, guiado por los valores fundante: satisfacción al cliente, compromiso, cordialidad, mejora continua y eficacia.</p>
            <p>Cøpyright © 2021. <strong>TechnoHouse®</strong>es una marca registrada. </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <div class="lists">
            <h2 class="produ">Productos</h2>
            <ul class="list">
              <li><a href="/products/categories/1"><i class="fa fa-angle-right"></i>Arduinø</a></li>
              <li><a href="/products/categories/2"><i class="fa fa-angle-right"></i>Modulos</a></li>
              <li><a href="/products/categories/3"><i class="fa fa-angle-right"></i>Sensores</a></li>
              <li><a href="/products/categories/4"><i class="fa fa-angle-right"></i>Accesorios</a></li>
              <li><a href="/products/categories/5"><i class="fa fa-angle-right"></i>Servos</a></li>
              <li><a href="/products/categories/5"><i class="fa fa-angle-right"></i>Motores</a></li>
             <li><a href="/products/categories/6"><i class="fa fa-angle-right"></i>Led</a></li>
              <li><a href="/products/categories/7"><i class="fa fa-angle-right"></i>Componentes</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-12">
          <div class="contact">
            <h2 class="cont">Contáctanos</h2>
            <ul class="list">
              <li><i class="fa fa-home"></i>Buenos Aires, Argentina.</li>
              <li><i class="fa fa-phone"></i>4064 36 78</li>
              <li><i class="fa fa-envelope"></i><a href="#">info@technohouse.com</a></li>
              <li><i class="fa fa-envelope"></i><a href="#">soporte@technohouse.com</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-12">
          <div class="about">
            <h2>Síguenøs en nuestras Redes</h2>
            <div>
              <ul class="social">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>									
              </ul>
            </div>
          </div>
         
        </div>

      </div>
    </div>
  </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
<script src="/javasripts/registro.js" type="text/javascript"></script>    