  <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="logoA">
            <a href="/">
                <img class="logo" src="/images/Logo_.png" alt="">
              </a>
                </div>
        
            <div class="col-md-6">
                <form action="" id="form">
                    <input type="text" placeholder="Buscar productos, marcas y más">
                    <button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </form>
            </div>

            <div class="col-md-3">
                <ul class="botones-nav">
                    <li><a class="btn btn-primary bot1 " href="/cart" role="button">Carrito <i class="fas fa-cart-plus "></i></a></li>
                    <li><a class="btn btn-primary bot2"  href="/users/Iniciar" role="button">Ingresá <i class="far fa-address-card "></i></a></li>
                    <li><a class="btn btn-primary bot3" href="#" role="button">Guardados <i class="far fa-heart "></i></a></li>
                  </ul>
                </div>
                </div>
            </div>
        </header>
        