<header>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="box-logo col-12 col-md-3 col-lg-3" id="logoA">
        <a href="/">
          <img class="logo" src="/images/logoTechnoHouse.png" alt="" />
        </a>
      </div>

      <div class=" form-nav col-12 col-md-8 col-lg-4">
        <form action="/products/search" id="form" method="GET">
          <input type="search" placeholder="Buscar productos, marcas y más" name="search" />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>

      <div class=" botones-nav col-12 col-md-8 col-lg-5">

        <% if (typeof user != 'undefined' && user.rol) { %>
          <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              admin
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/products/create">Crear producto</a>
              <a class="dropdown-item" href="/products">Listar productos</a>
            </div>
          </div>
        <% } %>

        <a href="/products">
          <button class="btn btn-outline-light">
            Productos</button></a>

        <a href="/cart">
          <button class="btn btn-outline-light">
            Carrito <i class="fas fa-cart-plus"></i>
            <span class="badge rounded-pill bg-warning"></span>
          </button></a>
        
            <% if (typeof user != 'undefined') { %>
              <a href="/users/logout">
                <button class="btn btn-outline-light">
                  Logout <i class="fas fa-address-card"></i></button></a>
            <% } else { %>
              <a href="/users/iniciar">
                <button class="btn btn-outline-light">
                  Ingresá <i class="fas fa-address-card"></i></button></a>
              <%  } %>


      </div>
    </div>
  </div>
</header>